In [122]:
import pandas as pd

1. Data cleaning - we will read three csv files first

In [123]:
df_historical_data = pd.read_csv('fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')
df_missing_data = pd.read_csv('fifa_worldcup_missing_data.csv')

1.1 cleaning df_fixtures

In [124]:
df_fixture

       Home Team  Match Scores     Away Team  year
0         Qatar            0–2       Ecuador  2022
1       Senegal            0–2   Netherlands  2022
2         Qatar            1–3       Senegal  2022
3   Netherlands            1–1       Ecuador  2022
4       Ecuador            1–2       Senegal  2022
..           ...           ...           ...   ...
59      England            1–2        France  2022
60    Argentina            3–0       Croatia  2022
61       France            2–0       Morocco  2022
62      Croatia            2–1       Morocco  2022
63    Argentina   3–3 (a.e.t.)        France  2022

[64 rows x 4 columns]

Reremoving the blnck spaces

In [125]:
df_fixture['Home Team'] = df_fixture['Home Team'].str.strip()
df_fixture['Away Team'] = df_fixture['Away Team'].str.strip()

In [126]:
df_fixture

      Home Team  Match Scores    Away Team  year
0         Qatar           0–2      Ecuador  2022
1       Senegal           0–2  Netherlands  2022
2         Qatar           1–3      Senegal  2022
3   Netherlands           1–1      Ecuador  2022
4       Ecuador           1–2      Senegal  2022
..          ...           ...          ...   ...
59      England           1–2       France  2022
60    Argentina           3–0      Croatia  2022
61       France           2–0      Morocco  2022
62      Croatia           2–1      Morocco  2022
63    Argentina  3–3 (a.e.t.)       France  2022

[64 rows x 4 columns]

1.2 Cleaning df_missing_data and adding it tp df_historical_data
  >>  * here we will check for null data
  >>  * if null data exist, we will remove it
  >>  * once it is done we will now concat dfs and clean data

In [127]:
df_missing_data[df_missing_data['home'].isnull()]

    home score away  year
396  NaN   NaN  NaN  2010
397  NaN   NaN  NaN  2010
398  NaN   NaN  NaN  2010
399  NaN   NaN  NaN  2010
400  NaN   NaN  NaN  2010
..   ...   ...  ...   ...
455  NaN   NaN  NaN  2010
456  NaN   NaN  NaN  2010
457  NaN   NaN  NaN  2010
458  NaN   NaN  NaN  2010
459  NaN   NaN  NaN  2010

[64 rows x 4 columns]

Droping NaN values

In [128]:
df_missing_data.dropna(inplace=True)

Concatenating and dropping duplicates in the data frames of df_missing_data and df_historical_data

In [129]:
df_historical_data = pd.concat([df_historical_data, df_missing_data], ignore_index=True)
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('year', inplace=True)
df_historical_data

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
419     Brazil    2–0      Costa Rica  2018
420     Serbia    1–2     Switzerland  2018
421     Serbia    0–2          Brazil  2018
408     France    1–0            Peru  2018
450     Brazil    1–2         Belgium  2018

[901 rows x 4 columns]

1.3 Cleaning final data of df_historical_data file
>> ** during the analysis i found that one of the matches ware result od walkoff and hence i will have to delete that match from oue dataset **
>> ** match was between Swedan and Austria **

In [130]:
delete_index = df_historical_data[df_historical_data['home'].str.contains('Sweden') & df_historical_data['away'].str.contains('Austria')].index
df_historical_data.drop(index=delete_index, inplace=True)

In [131]:
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–]', '', regex=True)
df_historical_data['home'] = df_historical_data['home'].str.strip()
df_historical_data['away'] = df_historical_data['away'].str.strip()

In [132]:
df_historical_data

          home score           away  year
0       France   4–1         Mexico  1930
17     Uruguay   4–2      Argentina  1930
16     Uruguay   6–1     Yugoslavia  1930
15   Argentina   6–1  United States  1930
14    Paraguay   1–0        Belgium  1930
..         ...   ...            ...   ...
419     Brazil   2–0     Costa Rica  2018
420     Serbia   1–2    Switzerland  2018
421     Serbia   0–2         Brazil  2018
408     France   1–0           Peru  2018
450     Brazil   1–2        Belgium  2018

[900 rows x 4 columns]

Splitting the score column and splitting it to Goals scored for Home and Away team respectively and drop the score columns from table

In [133]:
df_historical_data[['HomeGoals','AwayGoals']] = df_historical_data['score'].str.split('–', expand=True)

In [134]:
df_historical_data

          home score           away  year HomeGoals AwayGoals
0       France   4–1         Mexico  1930         4         1
17     Uruguay   4–2      Argentina  1930         4         2
16     Uruguay   6–1     Yugoslavia  1930         6         1
15   Argentina   6–1  United States  1930         6         1
14    Paraguay   1–0        Belgium  1930         1         0
..         ...   ...            ...   ...       ...       ...
419     Brazil   2–0     Costa Rica  2018         2         0
420     Serbia   1–2    Switzerland  2018         1         2
421     Serbia   0–2         Brazil  2018         0         2
408     France   1–0           Peru  2018         1         0
450     Brazil   1–2        Belgium  2018         1         2

[900 rows x 6 columns]

In [135]:
df_historical_data.drop('score', axis=1, inplace=True)

In [136]:
df_historical_data

          home           away  year HomeGoals AwayGoals
0       France         Mexico  1930         4         1
17     Uruguay      Argentina  1930         4         2
16     Uruguay     Yugoslavia  1930         6         1
15   Argentina  United States  1930         6         1
14    Paraguay        Belgium  1930         1         0
..         ...            ...   ...       ...       ...
419     Brazil     Costa Rica  2018         2         0
420     Serbia    Switzerland  2018         1         2
421     Serbia         Brazil  2018         0         2
408     France           Peru  2018         1         0
450     Brazil        Belgium  2018         1         2

[900 rows x 5 columns]

Renaming the columns and changing the data types to make sure our data remains error free

In [137]:
df_historical_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 'year': 'Year'}, inplace=True)
df_historical_data = df_historical_data.astype({'HomeGoals': int, 'AwayGoals': int, 'Year': int})

In [138]:
df_historical_data

      HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals
0       France         Mexico  1930          4          1
17     Uruguay      Argentina  1930          4          2
16     Uruguay     Yugoslavia  1930          6          1
15   Argentina  United States  1930          6          1
14    Paraguay        Belgium  1930          1          0
..         ...            ...   ...        ...        ...
419     Brazil     Costa Rica  2018          2          0
420     Serbia    Switzerland  2018          1          2
421     Serbia         Brazil  2018          0          2
408     France           Peru  2018          1          0
450     Brazil        Belgium  2018          1          2

[900 rows x 5 columns]

Creating new columns with Total goals for a match (it includes away and home goals)

In [139]:
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']

In [140]:
df_historical_data

      HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0       France         Mexico  1930          4          1           5
17     Uruguay      Argentina  1930          4          2           6
16     Uruguay     Yugoslavia  1930          6          1           7
15   Argentina  United States  1930          6          1           7
14    Paraguay        Belgium  1930          1          0           1
..         ...            ...   ...        ...        ...         ...
419     Brazil     Costa Rica  2018          2          0           2
420     Serbia    Switzerland  2018          1          2           3
421     Serbia         Brazil  2018          0          2           2
408     France           Peru  2018          1          0           1
450     Brazil        Belgium  2018          1          2           3

[900 rows x 6 columns]

Exporting the cleaned data to csv file

In [141]:
df_historical_data.to_csv('clean_fifa_worldcup_matches.csv', index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv', index=False)

Verifying our data by checking number of matches played during each worldcup year

In [142]:
years = [1930, 1934, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 2002, 2006, 2010, 2014, 2018]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year'] == year]))

1930 18
1934 17
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
2002 64
2006 64
2010 64
2014 64
2018 64